body {
    background-color: rgb(187, 237, 212);
    padding: 0px;
    margin: 0px;
    color: rgb(57, 1, 57);
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {

    border: 5px solid rgb(222, 159, 222);
    padding: 16px;
    /* box-shadow: 10px 5px 5px rgb(144, 110, 141); */
}

nav a:hover {
    color:rgb(23, 216, 234);
}

h3 a:hover {
    color:rgb(23, 216, 234);
}

img {
    border: 5px solid rgb(222, 159, 222);
    padding: 15px;
    box-shadow: 10px 5px 5px rgb(144, 110, 141);
    margin: 10px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
